body {
    background-image: url('https://i.pinimg.com/originals/59/52/2e/59522e858090d3e9d4f9b591ac6b57ab.jpg');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif Geneva, Tahoma, sans-serif;
    font-weight: 200;
    text-align: center;
    height: 100vh
}

.container {


    background: rgb(182, 213, 237);
    max-width: 40%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;

}





h1 {
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 20px;
}

h2 {
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 70px;

}

p {
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
    font-size: medium;

}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    border: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;


}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}